{% extends 'core/base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
    <h1 class="mb-6 mx-auto text-3xl">Privacy Policy</h1>
    <div class="p-6 flex bg-gray-100 rounded-xl">
        At HomeMingle, we value your privacy and are committed to protecting your personal information. This Privacy Policy outlines how we collect, use, and safeguard the data you provide to us through our platform. By using HomeMingle, you agree to the terms and practices described below.<br>

        Information Collection:
        We collect certain personal information when you register an account, browse items, make purchases, or communicate with other users. This may include your name, email address, contact details, and other relevant information.<br>
        Use of Information:
        We use the collected information to provide you with a personalized and seamless trading experience on HomeMingle. This includes facilitating transactions, improving our services, communicating with you about your account and transactions, and sending relevant updates and promotional offers.<br>
        Data Security:
        We take appropriate measures to ensure the security of your personal information. We utilize industry-standard encryption and secure server infrastructure to protect your data from unauthorized access, disclosure, alteration, or destruction.<br>
        Sharing of Information:
        We may share certain information with trusted third-party service providers to assist us in delivering our services effectively. These service providers are bound by confidentiality agreements and are only authorized to use your information to perform specific tasks on our behalf.<br>
        Cookies and Tracking Technologies:
        HomeMingle may use cookies and similar tracking technologies to enhance your browsing experience and gather information about usage patterns. These technologies help us analyze trends, track user movements, and provide relevant content and advertisements.<br>
        Third-Party Links:
        Our platform may contain links to third-party websites or services. Please note that this Privacy Policy does not apply to any external sites or services. We encourage you to review the privacy policies of those third parties before providing any personal information.<br>
        Changes to the Privacy Policy:
        We reserve the right to update or modify this Privacy Policy at any time. Any changes made will be reflected on this page, and we encourage you to review it periodically. Your continued use of HomeMingle signifies your acceptance of any modifications.<br>
        If you have any questions or concerns about our Privacy Policy or the security of your personal information, please contact us at privacy@homemingle.com. Your privacy is of utmost importance to us, and we are dedicated to addressing any inquiries promptly and responsibly.<br>

        Last Updated: May 25, 2023
    </div>
{% endblock %}