{% extends 'core/base.html' %}

{% block title %}Terms of Use{% endblock %}

{% block content %}
    <h1 class="mb-6 text-3xl">Terms of Use</h1>
    <div class="p-6 flex bg-gray-100 rounded-xl">
        Please read these Terms of Use ("Terms") carefully before using HomeMingle ("the Platform"). 
        By accessing or using the Platform, you agree to be bound by these Terms.<br><br>

        Account Registration:<br>
        To access certain features of the Platform, you may be required to create an account. <br>
        You are responsible for providing accurate and up-to-date information during the registration process. <br>
        You must be at least 18 years old to create an account on HomeMingle.<br><br>

        Platform Usage:<br>
        a. You agree to use the Platform solely for lawful purposes and in accordance with these Terms. <br>
        You will not engage in any activity that may disrupt or interfere with the operation of the Platform or the experiences of other users.<br>
        b. You are solely responsible for any content you post, including product listings, comments, and messages. <br>
        You agree not to post any content that is illegal, offensive, defamatory, or violates the rights of others.<br><br>
        
        Transactions:<br>
        a. HomeMingle provides a platform for users to buy and sell home accessories. <br>
        We are not involved in the actual transactions between users and do not assume any responsibility for the quality, safety, or legality of the items listed.<br>
        b. Buyers and sellers are responsible for communicating, negotiating, and fulfilling transactions. Any issues or disputes should be resolved directly between the parties involved.<br><br>
        
        Intellectual Property:<br>
        a. The Platform and its content, including logos, text, images, and trademarks, are protected by intellectual property laws. You may not use, modify, or distribute any content from the Platform without prior written consent.<br>
        b. By posting content on the Platform, you grant HomeMingle a non-exclusive, royalty-free, worldwide license to use, display, and distribute the content for promotional and marketing purposes.<br><br>
        
        Limitation of Liability:<br>
        a. HomeMingle is provided on an "as is" and "as available" basis. We make no warranties or representations regarding the accuracy, completeness, or reliability of the Platform or its content.<br>
        b. In no event shall HomeMingle or its affiliates be liable for any direct, indirect, incidental, consequential, or punitive damages arising from your use of the Platform or any transactions conducted through it.<br><br>
        
        Termination:<br>
        HomeMingle reserves the right to suspend or terminate your account at any time and for any reason, without prior notice or liability. You may also terminate your account by contacting us.<br><br>
        
        Governing Law:<br>
        These Terms shall be governed by and construed in accordance with the laws of [Jurisdiction]. Any disputes arising from these Terms or your use of the Platform shall be subject to the exclusive jurisdiction of the courts in [Jurisdiction].<br>
        By using HomeMingle, you agree to comply with these Terms. If you have any questions or concerns, please contact us at support@homemingle.com.<br><br>

        Last Updated: May 25, 2023<br>
    </div>
{% endblock %}